body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    
    background-color: #fff;
    padding: 20px;

    text-align: center;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #6a11cb;
    color: white;
}

.btn-download {
    background-color: #6a11cb;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-download:hover {
    background-color: #4b0ca1;
}